Source: wmgtemp
Section: utils
Priority: optional
Maintainer: Lenart Janos <ocsi@debian.org>
Build-Depends: debhelper (>> 3.0.0), libsensors-dev, xlibs-dev
Standards-Version: 3.6.1.0

Package: wmgtemp
Architecture: any
Depends: ${shlibs:Depends}, lm-sensors
Suggests: i2c-source
Description: Temperature sensor dockapp for Window Maker
 wmgtemp displays the CPU and SYS temperatures (both numerically and
 graphically) of motherboards with support for lm_sensors.
 .
 You will need I2C support to make this work, use the i2c-source
 package to set it up.
